<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Scripts/select2/css/select2.min.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    @*<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/Cargando.css" rel="stylesheet" />*@


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/select2/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />
    <script src="~/Scripts/jquery.datetimepicker.js"></script>



    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-nav navbar-fixed-top fixed-top py-0 navbar-expand-lg navbar-light bg-light" style="background-image:url('../../Imagenes/MiPlan encabezado.png'); max-width:100%">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 ">
                <div class="row py-5">
                    <br />
                    <br />
                    <br />                    
                    @*<ul class="navbar-nav col-md-7">
            <li class="nav-item col-md-2 text-center">
                <a href=""><img src="~/Imagenes/MiPlan inicio.png" /></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><img src="~/Imagenes/MiPlan catalogos.png" /></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><img src="~/Imagenes/MiPlan movimientos.png" /></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><img src="~/Imagenes/MiPlan reportes.png" /></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><img src="~/Imagenes/MiPlan ayuda.png" /></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><img src="~/Imagenes/MiPlan salir.png" /></a>
            </li>
        </ul>
        <ul class="navbar-nav col-md-7" style="background-color:#E5C514">
            <li class="nav-item col-md-2 text-center">
                <a href=""><span class="col-md-1" style="color:white">Inicio</span></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><span class="col-md-1" style="color:white">Catálogos</span></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><span class="col-md-1" style="color:white">Movimientos</span></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><span class="col-md-1" style="color:white">Reportes</span></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><span class="col-md-1" style="color:white">Ayuda</span></a>
            </li>
            <li class="nav-item col-md-2 text-center">
                <a href=""><span class="col-md-1" style="color:white">Salir</span></a>
            </li>
            <li class="nav-item col-md-6">

            </li>s
        </ul>*@
                </div>
            </div>
        </div>
    </nav>
    <div class="body-content container-fluidp py-5 " style="background-image:url('../../Imagenes/MiPlan fondo.png')">
        @RenderBody()
        <img class="fixed-bottom" src="~/Imagenes/MiPlan pie.png" style="height:13%;width:100%" />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
