<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    @*<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/Cargando.css" rel="stylesheet" />*@


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-nav navbar-fixed-top fixed-top py-0 navbar-expand-lg navbar-light bg-light" style="background-image:url('../../Imagenes/MiPlan encabezado.png')">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 py-5">
                <div class="row py-5">                                        
                    <ul class="navbar-nav col-md-7" style="background-color:#E5C514;position:absolute;top:47.5%; height:11%">
                        <li class="nav-item col-md-2 text-center">
                            <a href=""><span class="col-md-1 fa fa-home" style="color:white">Inicio</span></a>
                        </li>
                        <li class="nav-item col-md-2 text-center">
                            <a href=""><span class="col-md-1 fa fa-book" style="color:white">Catálogos</span></a>
                        </li>
                        <li class="nav-item col-md-2 text-center">
                            <a href=""><span class="col-md-1 fa fa-refresh" style="color:white">Movimientos</span></a>
                        </li>
                        <li class="nav-item col-md-2 text-center">
                            <a href=""><span class="col-md-1 fa fa-file-text-o" style="color:white">Reportes</span></a>
                        </li>
                        <li class="nav-item col-md-2 text-center">
                            <a href=""><span class="col-md-1 fa fa-info" style="color:white">Ayuda</span></a>
                        </li>
                        <li class="nav-item col-md-2 text-center">
                            <a href=""><span class="col-md-1 fa fa-times" style="color:white">Salir</span></a>
                        </li>
                        <li class="nav-item col-md-6">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="body-content container-fluidp py-5 " >
        @RenderBody()
        <img class="fixed-bottom" src="~/Imagenes/MiPlan pie.png" style="height:13%;width:100%" />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/global.js"></script>
        <script src="~/Scripts/Controllers/AccesoController.js"></script>
        <script src="~/Scripts/Models/AccesoModel.js"></script>
        <script src="~/Scripts/application.js"></script>*@
</body>
</html>
